body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(image/f1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.arrow img{
  width: 40px;
  margin: 20px;
  cursor: pointer;
}
.wrapper{
  max-width: 1180px;
  margin: 0 auto;
  



}
.portfolio_container {
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 40px 15px;


}
.foto {
}
.foto img{
  width: 300px;
  height: 350px;
  object-fit: cover;
  display: block;
  border: 1px solid #fff;
}