@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  background-image: url(image/f1.jpg);
  background-size: cover;
  background-position: top center;
  color: rgb(147, 95, 58);
  
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  border-radius: 30px;
  background-color: rgba( 255, 255, 255, 0.0.5);
  margin-top: 50px;
  box-shadow:
    0 0 0 1.5px rgba(255, 215, 0, 0.2),
    0 0 30px rgba(255, 200, 100, 0.2),
    0 20px 60px rgba(0, 0, 0, 0.6);
  border: 0.5px solid gold;
  margin: 0px 20px;

}
h1{
  text-align: center;
  text-shadow: 2px 2px 6px rgba( 0, 0, 0.2);
}
.name{
  font-size: 30px;
  background: linear-gradient(135deg, #b38728, #f7e7b4, #aa771c);
  text-align: center;
  padding: 5px;
  font-style: oblique;
}
.block_title{
  text-align: center;
  text-shadow: 2px 2px 6px rgba( 0, 0, 0.2);
  font-size: 20px;
}

.block_container {
  display: flex;
  flex-direction: row;
  max-width:700px;
  max-height: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  margin-top: -50px;
  
}
.block_text {
  flex: 1 1 70%;
  text-align: center;
  
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}
.list li{
  border-radius: 30px;
  padding: 5px;
  list-style: none; 
  font-size: 18px;
  cursor: pointer;
  font-style: oblique;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-shadow: 0 0 4px rgba(212,175,55,0.3);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(147, 95, 58);
}
.list li a{
text-decoration: none;
color: rgb(147, 95, 58);
}
.list li:hover{
  background: linear-gradient(135deg, #b38728, #f7e7b4, #aa771c);
  transition: 0.3s ease;
}
.block_image {
  flex: 1 1 30%;
}
.block_image img{
  height: 270px;
  /* Плавне зникання знизу */
  -webkit-mask-image: linear-gradient(to bottom, 
      black 70%, 
      transparent 100%);
  mask-image: linear-gradient(to bottom, 
      black 75%, 
      transparent 100%);
      border-radius: 25%;
      margin-top: -30px;
}
.line {
  font-size: 2px;
  border: 0.5px solid #b38728;
  background: linear-gradient(135deg, #b38728, #f7e7b4, #aa771c);
  margin-top: -25px;
  

}
.line span{
  background: linear-gradient(135deg, #b38728, #f7e7b4, #aa771c);
  
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 15px 0px 15px 0px;
  cursor: pointer;
}

.icons img{
width: 35px;
border-radius: 100%;

}
.icons img:hover{
 filter: drop-shadow(0 0 5px gold);
 transition: 0.3s ease;
}

.facebook {
}
.gmail {
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px;
}
.buttons a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.buttons a:hover{
  filter: drop-shadow(0 0 5px gold);
  transition: 0.3s ease;
  
}
.ua {
}
.en {
}
.de {
}